<mat-toolbar>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a mat-button routerLink="/home">
      <span class="nav-caption">LRMS</span>
    </a>
  </div>
  <span class="spacer"></span>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <a mat-button routerLink="/about">
          <mat-icon>info</mat-icon>
          <span class="nav-caption">About</span>
        </a>

         <a mat-button routerLink="/contactus">
           <mat-icon>contacts</mat-icon>
           <span class="nav-caption">ContactUs</span>
         </a>

        <a mat-button routerLink="/login">
          <mat-icon>lock</mat-icon>
          <span class="nav-caption">Login</span>
        </a>
    </ul>
  </div>
</mat-toolbar>
