<app-nav-bar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
      <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-nav-bar>


<footer class="footer">
  <div class="container">
    <span class="align-center">All Rights Reserved 2023 @NPS</span>
  </div>
</footer>


